<form class="login100-form validate-form flex-sb flex-w">

    <span class="login100-form-title p-b-51">
      Dashboard
  </span>
    <div>
        <div class="btn-group-vertical">
            <a (click)="carga()" class="btn btn-secondary">
                Carga Saldo
            </a>
        </div>

        <div>
            <a (click)="retiro()" class="btn btn-secondary">
                Retira Saldo
            </a>
        </div>
        <div>
            <a (click)="terceros()" class="btn btn-secondary">
                Transferencia a otras cuentas
            </a>
        </div>
        <div>
            <a (click)="transferencias()" class="btn btn-secondary">
                Listado Transferencias
            </a>
        </div>
        <div>
            <a routerLink="home" class="btn btn-secondary">
                Home
            </a>
        </div>
    </div>


</form>