<div class="container-login100">
    <div class="wrap-login100 p-t-50 p-b-90">
        <form class="login100-form validate-form flex-sb flex-w" #transferForm="ngForm" (ngSubmit)="volver(transferForm)">

            <span class="login100-form-title p-b-51">
                    Listado Transferencias
                </span>
            <div class="wrap-input100 m-b-16">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Cuenta</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Tipo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transfers of transferservice.transferencias">
                            <td>{{transfers.cuenta}}</td>
                            <td>{{transfers.monto}}</td>
                            <td>{{transfers.tipo}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container-login100-form-btn m-t-17">
                <button class="login100-form-btn" type="submit">
                        Volver
                    </button>
            </div>

        </form>
    </div>
</div>